<h1>Brewing</h1>
<div>
    <p>
      One of the most exciting things about beer is that in the right hands it can be a completely pure product, produced naturally without any preservatives or additives.
    </p>
</div>
<div>
    <p>
      The brew size is about 600L.<br/> Each batch is brewed, conditioned and kegged or bottled separately.
    </p>
</div>
<div>
    <p>
      What’s in our beer?
    </p>
    <p class="prepend-top">
      <%= image_tag("malt.jpg", :class => "square-img float-right") %>
      <strong>Malt:</strong> Our malt is good Canterbury barley grown and malted at Dunsandal by Gladfield Malt. We use some imported “speciality” malts in our beers but Gladfield is expanding its maltings so we are hoping that soon our beers will be made with 100% local malt. Malting is an age-old technique where the grains are soaked in water and begin to sprout. This activates enzymes in the barley kernel that change the starches in the grain to sugars. At this point the maltser dries and roasts the malt to give the desired flavours. The resulting product is the malted grain we use in our beer. The night before we brew we mill the malt by crushing it so that the natural sugar can be extracted during the brewing.
    </p>
    <p class="prepend-top">
      <strong>Water:</strong> Our water comes from our well behind the brewery – it’s untreated and unfiltered and it tastes great. You can taste it if you visit the Brew Moon Café – just in front of the brewery at Amberley.
    </p>
  <div class="span-18 last">
      <%= image_tag("hops.jpg", :class => "square-img float-right") %>
      <p class="prepend-top">
        <strong>Hops:</strong> Our hops are sourced from Hops NZ in Motueka, Nelson.
      </p>
  </div>
    <p class="prepend-top">
      <strong>Yeast:</strong> Single celled organisms that change sugar to alcohol are the quiet workers behind all alcoholic beverages, bread, vinegar, sauerkraut, and all sorts of wonderful sauces including soy to name just a few fermented products. Yeast is a great source of Vitamin B – it’s natural and it does a great job. Most beers in the world are made with cultured yeast and ours are no exception, although it would be exciting to try a wild yeast Lambic style beer (a sort of sour dough ale) but we will leave that for a while.
    </p>
</div>
<div>
    <p>
      That’s it – our beers are gently carbonated, not too alcoholic (4-6%) health giving beverages, chock full of vitamin B and good natural flavour. They aren’t filtered or pasteurised and they don’t contain preservatives –
      <span class="bigger-text"> how many drinks can you say that about?</span>
    </p>
</div>
<hr class="narrow"/>

<div>
  <p>
    <!--<%= image_tag("malt_and_beer.JPG", :class => "square-img float-right") %>-->
    <h1 >Here’s how we brew our beer</h1>
  </p>
  <div class="span-18 last prepend-top">
      <%= image_tag("mill.JPG", :class => "square-img float-right") %>
      <p>
          Milling the malt: First we mill the malted grain in our malt mill – too coarse and we don’t get enough extraction - too fine and it will block in the mash tun.
      </p>
  </div>
  <div class="span-18 last prepend-top">
      <%= image_tag("mix_mash.JPG", :class => "square-img float-right") %>
      <p>
          Mashing In: The malt is mixed with hot water in the mash tun to form a porridge. It is then left to soak up the flavour for an hour or so.
      </p>
      <p class="prepend-top">
          The liquid (wort) is carefully run out of the bottom of the mash tun (which has a false floor/strainer) and transferred to the kettle. In the kettle it is heated to a rolling boil.
      </p>
  </div>
  <div class="span-18 last">
      <%= image_tag("hydrometer.jpg", :class => "square-img float-right") %>
      <p>
          We boil the wort for about 1.5 hours adding hops at different intervals – depending on the beer we’re making.
      </p>
      <p class="prepend-top">
          After the kettle the wort is pumped through a heat exchanger to reduce the temperature and into the tank it will ferment in – yeast is added to this tank.
      </p>
      <p class="prepend-top">
          Fermentation: It takes about 5 days for the beer to finish fermenting. We then chill the tank to encourage the yeast to settle.
      </p>
  </div>
  <div class="span-18 last">
      <%= image_tag("tank.JPG", :class => "square-img float-right prepend-top") %>
      <p class="prepend-top">
          The clearish beer is then transferred to a conditioning tank where it matures. We add hops to the conditioning tank for the Amberley Pale Ale and Hophead.
      </p>
  </div>
  <div class="span-18 last  prepend-top">
      <%= image_tag("hat.JPG", :class => "square-img float-right") %>
      <p class="prepend-top">
          After the beer has been conditioned it is pretty clear. It is then moved to the bright beer tank and carbonated to give it some fizz. Once it’s settled down we bottle it or put it into kegs and send it out into the world (or through the wall into the café) for you to enjoy.
      </p>
  </div>
  <div>
      <p class="prepend-top">
          Our beer is not filtered or pasteurized and it doesn’t contain preservatives – it’s a live health-giving drink.<br class="prepend-top"/>
      </p>
    </div>
    <div>
        <p class="prepend-top prepend-15">
          <strong>Cheers...</strong>
        </p>
  </div>
</div>
