<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">

      <div class="container">

        <div class="span-24 last">

          <div class="left span-6">
            <%= render 'layouts/left' %>
          </div>

          <div class="span-18 last" id="header">
            <%= render 'layouts/header' %>
            <p/>
            <section class="pages round" id="page">
              <div class="span-18 last">
                  <%= yield %>
              </div>
            </section>
          </div>
        </div>

        <div class="span-24 prepend-top last">
          <p/>
          <%= render 'layouts/footer' %>
        </div>
      </div>

    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
